doctype html
block variables
  - var subtitle = 'Home'
  - var rootPath = './'
  - var pageName = 'index'

html(lang="en")
  head
    title Daniel Rodriguez-Criado | #{subtitle}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="icon" type="image/png" href=`${rootPath}img/favicon/rocket-solid.png`)
    script(src="https://kit.fontawesome.com/55d924b99d.js" crossorigin="anonymous")
    link(href=href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet")
    block styles
      link(rel="stylesheet" href="./css/mainStyles.css")
  body
    .global-container
      input(type = "checkbox", autocomplete="off")#menu-icon
      label(for= "menu-icon"): i.fas.fa-bars
      aside.main-aside
        include aside
      main.main-content
        block header
        block menu
        block section
  block scripts
    script(src= `${rootPath}js/index.js`)
