extends ../templates/template

block variables
    - var subtitle = 'Home'
    - var rootPath = './'
    - var pageName = 'home'

block styles
    link(rel="stylesheet" href=`${rootPath}css/about.css`)

block header
    header.main-header
        .main-header-content
            h1.main-header-content__title Daniel Rodríguez Criado, PhD
            h2.main-header-content__copy PhD in Computer Science and Deep Learning.
            p.main-header-content__about Having recently completed my PhD, I am eagerly embarking on a career in industry. My passion for technology and insatiable curiosity for learning new things have always guided my path. Research has provided me with the perfect platform to pursue these goals, fostering my growth as a problem-solver and innovator.
            .main-header-content__links
                a(href=`${rootPath}documents/CV_Daniel_Rodriguez_Criado.pdf`) Download CV
                a(href=`${rootPath}html/pages/contact.html`) Contact me
        .main-header-img
            img(src=`${rootPath}img/about/dani_expo.jpg`, alt="Daniel in a conference")
block section
    section.main-section
        .main-section__education
            .education__title.section-title
                img(src=`${rootPath}img/about/icons/books.svg`, alt="")
                h1 University Education
            .education__content.section-content.timeline
                .timeline__row
                    .timeline__element
                        h2.title PhD in Deep Learning in Graph Domains for Sensorised Environments
                        h3.university Aston University
                        p.copy My doctoral thesis at Aston University explored the intersection of deep learning and graph neural networks (GNNs) in sensorized environments. I focused on three key application areas: Human-Aware Navigation for robots, Human Pose Estimation, and Traffic Image Generation.
                        h3.date Oct 2019 - Dec 2023
                .timeline__row
                    .timeline__element
                        h2.title Internship in Hong Kong
                        h3.university Hong Kong University of Science and Technology (HKUST)
                        p.copy During my internship, I spearheaded the design and development of a compact robot for disinfecting tables using a synergistic approach of blue and UV light. This innovative solution leverages the Hi-NW technology, a groundbreaking advancement developed by the CBE department of HKUST.
                        h3.date Aug 2017 - Jul 2018
                .timeline__row
                    .timeline__element
                        h2.title Master's Degree in Electronics Systems for Smart Environments
                        h3.university University of Málaga (UMA)
                        p.copy During my Master's studies, I gained comprehensive knowledge of the methods and technologies employed in smart and sensorized environments. This enriched my understanding of the intricate relationship between hardware and software, enabling me to devise tailored solutions to specific challenges.
                        h3.date Sep 2017 - Jul 2019
                .timeline__row
                    .timeline__element
                        h2.title Erasmus Exchange in Vilnius (Lithuania)
                        h3.university Vilnius Gediminas Technical University (VGTU)
                        p.copy During my Erasmus exchange program, I delved into a range of electronic-related subjects, including wind and photovoltaic energy systems, electronic converters, and modern electrical engineering. This transformative experience not only expanded my technical knowledge but also significantly enhanced my English proficiency through immersive language exposure.
                        h3.date Sep 2016 - Dec 2016
                .timeline__row
                    .timeline__element
                        h2.title Master's Degree in Industrial Engineering
                        h3.university University of Málaga (UMA)
                        p.copy This Master's Degree served as a continuation of my Bachelor's studies, providing me with the extensive skillset of an industrial engineer. For my Master's thesis, I conceptualized and implemented a processor architecture for detecting objects slipping over a tactile sensor array using an FPGA.
                        h3.date Sep 2015 - Jul 2019
                .timeline__row
                    .timeline__element
                        h2.title Bachelor of Science in Engineering in Industrial Technologies
                        h3.university University of Málaga (UMA)
                        p.copy Specialized in automatic and electronic control: Achieved honors in "Integrated Circuits" and earned an A* grade in "Computer Architecture", "Power Electronic", and "Transducers and interface". Bachelor's final thesis titled: "Basic Quadcopter Design with Stabilization Control" was awarded with honors.
                        h3.date Sep 2010 - Jun 2015